* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Roboto, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  background: #333;
}

.header-style {
  color: #fff;
  text-align: left;
  padding: 10px;
}

.link-style {
  text-align: right;
  color: #fff;
  text-decoration: none; 
}


