* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Roboto, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  background: #333;
}

.header-style {
  color: #fff;
  text-align: left;
  width: 40%;
  height: 60%;
}

.align {
  text-align: right;
  vertical-align: center;
  width: relative;
}

.link-style {
  padding: 15px;
  color: #fff;
  text-decoration: none; 
  
}

.link-style1 {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding: 15px;
  color: #fff;
  text-decoration: none; 
}

