* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Roboto, sans-serif;
  line-height: 1.4;
}

a {
  color: black;
  text-decoration: none;
}

header {
  background: #333;
}

.header-style {
  color: #fff;
  text-align: left;
  width: 40%;
  height: 60%;
}

.align {
  text-align: right;
  vertical-align: center;
  width: relative;
}

.link-style {
  padding: 15px;
  color: #fff;
  text-decoration: none; 
  
}

.schoolName {
   padding-left: 280px;
   padding-bottom: 30px;
}
.schoolRating {
  padding-left: 960px;

}
.all {
  display: flex;
  margin-left: 250px;

}
.basic {
  padding-left: 300px;
}
.sidebar {
  margin: 0  145px 0 50px;
  display: flex;
 
}
.schoolInfo {
  padding-left: 200px;
  background-color: lightgray;
  padding-bottom: 250px;
  /* width: 490px;
  margin: 20px 400px; */
  border-radius: 15px;
  flex: 1;
  min-width: 350px;
  min-height: 50px;
  margin: 20px 0px 20px 80px;
}
.schoolWalk {
  
  padding-left: 50px;
  background-color: lightgray;
  padding-bottom: 150px;
  /* width: 200px; */
  /* margin: 20px 250px; */
  border-radius: 15px;
  flex: 1;
  min-width: 50px;
  min-height: 50px;
  margin: 20px 20px 20px 100px;
}
.schoolRatio {
  
  padding-left: 50px;
  background-color: lightgray;
  padding-bottom: 150px;
  /* width: 200px;
  margin: 0 200px; */
  border-radius: 15px;
  flex: 1;
  min-width: 50px;
  min-height: 50px;
  margin: 20px 350px 20px 20px;
  
}

.avatar {
  background-color: lightgray;
  padding: 20px; 

}
.schoolReviews {
  padding-left: 100px;
  background-color: lightgray;
  padding-bottom: 250px;
  width: 980px;
  margin-left: 330px;
  border-radius: 15px;
}
.sb-avatar {
  padding: 80px;
}
.link-style1 {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding: 15px;
  color: #fff;
  text-decoration: none; 
}

.index-link {
  color: black;
}

.school-name {
  color: black;
}
