* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Roboto, sans-serif;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background: #333;
}

.header-style {
  color: #fff;
  text-align: left;
  padding: 10px;
}

.link-style {
  text-align: right;
  color: #fff;
  text-decoration: none; 
}
.detailsContainer {
  display: grid;
}
.schoolName {
   
}
.schoolRating {
  
}
.schoolRatio {
  
}
.schoolReviews {
  border: 1px solid black; 
}
.sidebar {
  border: 1px solid black;
}
.schoolInfo {
  border: 1px solid black;
}


